#footer
  .footer-info
    p
    if theme.busuanzi == true
      p 本站总访问量：
        i#busuanzi_container_site_pv
          i#busuanzi_value_site_pv
        | 次
    p
      span   by
        a(rel='nofollow', target='_blank', href='https://blog.csdn.net/edxuanlen')  edxuanlen.
